
@charset "utf-8";

.footer { background-color: #fff; margin-top: 40px; overflow: hidden; }
.footer0 { border-bottom: 1px solid #d7d7d7; }
.footer1_l { float: left;  width: 900px; }
.footer_help { padding-top: 40px; }
.helpDL { float: left; padding: 0 60px 0 50px; _padding: 0 10px; _width: 150px; }
.helpDL h5 { color: #666; font-size: 14px; font-weight: normal; height: 31px; color: #666666; }
.helpDL dd { }
.helpDL dd a { color: #666; font-size: 12px; height: 22px; line-height: 22px; }
.footer1_r { float: left; }
.footer1_r ul { }
.footer1_r ul li { float: left; width: 100px; margin-right: 20px; text-align: center; }
.footer1_r ul li h2 { color: #333333; font-size: 14px; font-weight: 600; height: 31px; }
.footer1_r ul li p { font-size: 14px; color: #666666; }

.w720 { width: 720px; margin: 0 auto; text-align:center;}
.footer_nav { border-bottom: 4px solid #a90202; overflow: hidden; margin-top: 45px; }
.footer_nav ul { }
.footer_nav ul li {display:inline-block; height: 35px; line-height: 35px; padding-right:12px; *display:inline;*zoom:1;}
.footer_nav ul li a { font-size: 12px; font-family: "宋体"; color: #666666; }
.footer_nav .line { padding-left: 14px; background-color: #fff; border-right: 1px solid #a9a9a9; }

.footer_bottom { background-color: #f3f3f3; }

.font_arial { font-family: Arial; color: #666666; }
.footer_bottom p { padding-top: 10px; text-align: center; font-family: "宋体"; color: #7e7e7e; line-height:25px;}
.footer_bottom .footer_p { padding: 30px 0 40px 0; }
